/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 40;
    }
    
    .header{
        display: flex;
        padding: 2rem 2rem 0rem;
        background-color: var(--dark);  
    }
    
    .header-box{
        margin-right: 0rem;
        width: 100%;
    }
    
    .header-logo{
        color: white;
    }
    
    .header-logo:hover{
        color: var(--light);
        transition: .3s;
    }
    
    .nav-bar{
        margin-right: 0rem;
    }
    
    .nav-list-item{
        color: white;
        transition: .3s;
    }
    
    .nav-list-item:hover{
        color: var(--light);
        transition: .3s;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 40;
    }
    
    .header{
        display: flex;
        padding: 2rem 2rem 0rem;
        background-color: var(--dark); 
    }
    
    .header-box{
        margin-right: 0rem;
        width: 100%;
    }
    
    .header-logo{
        color: white;
    }
    
    .header-logo:hover{
        color: var(--light);
        transition: .3s;
    }
    
    .nav-bar{
        margin-right: 0rem;
    }
    
    .nav-list-item{
        color: white;
        transition: .3s;
    }
    
    .nav-list-item:hover{
        color: var(--light);
        transition: .3s;
        font-size: 1.2em; 
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 40;
    }
    
    .header{
        display: flex;
        padding: 2rem 2rem 0rem;
        background-color: var(--dark);  
        width: 100%;
        font-size: 1.2em; 
    }
    
    .header-box{
        margin-right: 0rem;
        width: 100%;
    }
    
    .header-logo{
        color: white;
    }
    
    .header-logo:hover{
        color: var(--light);
        transition: .3s;
    }
    
    .nav-bar{
        margin-right: 0rem;
    }
    
    .nav-list-item{
        color: white;
        transition: .3s;
    }
    
    .nav-list-item:hover{
        color: var(--light);
        transition: .3s;
    }
}


