/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 40;
    }
    
    .header{
        display: flex;
        padding: 2rem 2rem 0rem;
        background-color: var(--dark); 
        justify-content: space-between; 
    }
    
    
    .header-logo{
        color: white;
    }
    
    .header-logo:hover{
        color: var(--light);
        transition: .3s;
    }
    
    .nav-list-item{
        color: white;
        transition: .3s;
    }
    
    .nav-list-item:hover{
        color: var(--light);
        transition: .3s;
    }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 991px) {
    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 40;
    }
    
    .header{
        display: flex;
        padding: 2rem 2rem 0rem;
        background-color: var(--dark);  
        width: 100%;
        font-size: 1.2em; 
        justify-content: space-between; 
    }
    
    .header-logo{
        color: white;
    }
    
    .nav-bar{
        margin-right: 0rem;
    }
    
    .nav-list-item{
        color: white;
        transition: .3s;
    }
    

}


