/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1199px) {
    
    .main{
        background-color: var(--dark);
        color: white;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0rem;
        padding: 5rem;
    }
    
    .box{
        text-align: center;
        margin: 0rem;
    }

    .details{
        margin-top: -6rem;
        line-height: 3em;
        width: 100%;
        font-size: 1.25em; 
    }
    
    .details h2{
        font-size: 1.55em; 
        line-height: 1.55em;
    }

    .image{
        margin-top: 2rem;
        margin-left: 10rem;
    }
    
    .right-image{
        width: 90%;
        display: block;
        
    }
    
    .button{
        margin-top: 2rem;
        background-color: var(--normal);
        border-color: var(--normal);
        color: white;
        border-radius: 0.25rem;
        padding: 1rem 2rem;
        transition: 0.3s;
        font-size: 1em; 
    }
    
    .button:hover{
        background-color: white;
        border-color: var(--normal);
        color: var(--dark);
        border-radius: 0.25rem;
        padding: 1rem 2rem;
        transition: 0.3s;
        
    }

    .button1{
        margin-left: -1rem;
    }
    
    .button2{
        margin-left: 1rem;
    }
    
    .social-media-links{
        padding: 0rem 0rem 0rem 1.5rem;
    }
    
    .social-media-link{
        transform: scale(2);
    }
    
    .social-media-link-a:nth-child(1){
        margin: 0rem 1.5rem 0rem 0rem;
    }
    
    .social-media-link-a{
        margin: 0rem 1.5rem;
        color: white;
        transition: 0.3s;
    }
    
    .social-media-link-a:hover{
        color: var(--semi-light);
        filter: drop-shadow(0rem 0.1rem 0.25rem var(--dark));
        transition: 0.3s;
    }
    
    
    /*About Me Section ======================================*/
    
    .about-me{
        background-color: var(--dark);
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10rem 0rem;
        margin-top: 0rem;
    }
    
    .image2{
        text-align: center;
    }
    
    .left-image{
        border-radius: 1rem;
        max-width: 50%;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    
    .details2{
        padding: 3rem 5rem;
        text-align: center;
        width: 100%;
       
    }

    .section-heading{
        font-size: 2.5em; 
        padding: 2rem;
        
    }
    
    .section-sub-heading{
        color: var(--yellow);
        font-size: 1.55em; 
        padding: 0rem;
        
    }
    
    .section-paragraph{
        padding: 2rem 1.5rem 2rem 1.5rem;
        font-size: 1.55em; 
        text-align: justify;
    }
    
    /*Experience Section ==========================================*/
    
    .experience-heading{
        text-align: center;
        padding: 1rem 0rem 4rem 0rem;
        font-size: 2.2em; 
    }
    .experience{
        background-color: var(--dark);
        color: white;
        padding: 2rem 0rem;
        margin-top: -6rem;
    }
    
    .experience-flex-container{
        background-color: var(--dark);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-left: 0rem;
    }
    
    .experience-container{
        padding: 3rem;
        border-radius: 0.25rem;
        text-align: center;
        margin: 0.75rem;
        background-color: var(--normal);
        height: auto;
        font-size: 0.95em;
        transition: 0.3s;
        width: 60%;
        font-size: 1.5em; 
    }
    
    .icon{
        transform: scale(3);
        margin: 4rem;
        color: var(white);
        filter: drop-shadow(0rem 0.1rem 0.25rem var(--dark));
    }
    
    .title{
        padding: 0.25rem 0rem;
        color: var(--yellow);
        font-weight: var(--font-bold);
        font-size: 1.2em; 
    }
    
    .information{
        padding: 1rem 1rem;
        color:white;
        text-align: center;
        font-size: 0.7em; 
    }
    
    .experience-button{
        background-color: var(--dark);
        border-color: var(--dark);
        color: white;
        border-radius: 0.25rem;
        padding: 1rem 2rem;
        transition: 0.3s;
        font-size: 0.8em;  
    }
    
    .experience-button:hover{
        background-color: white;
        border-color: white;
        color: var(--normal);
        filter: drop-shadow(0.25rem 0.25rem 0.25rem black);
        border-radius: 0.25rem;
        padding: 1rem 2rem;
        transition: 0.3s;
        font-size: 0.8em; 
        
    }
    
    /*Skills =================================================*/
    
    .skills{
        margin-top: 8rem;
        padding-bottom: 12rem;
    }
    
    .skill-flex-container{
        padding: 0rem 2rem;
    }
    
    .technical-skills-containter{
        text-align: left;
        width: 80%;
        padding: 1rem 4rem;
        border-radius: 0.25rem;
        margin: 1rem 0.5rem;
        background-color: var(--normal);
        height: auto;
        font-size: 0.95em;
        transition: 0.2s;
        
    }
    
    
    .technical-skills-title{
        text-align: center;
        padding: 1.2rem 0rem;
        color: white;
        font-size: 1.5em; 
    }
    
    .skill-title{
        color: var(--yellow);
        font-size: 1.0em;
    }
    
    .skill-icon{
        transform: scale(1);
        margin: 0rem 1rem;
        color: white;
        filter: drop-shadow(0rem 0.1rem 0.25rem var(--dark));
    }
    
    .skill{
        margin: 2rem 0rem 0rem 0rem;
        display: block;
        width: 33%;
    }
    
    .skill-level{
        padding-left: 3.5rem;
        font-size: 1.0em;
    }
    
    .technical-skills{
        display: flex;
        flex-wrap: wrap;
        margin: 0rem 0.5rem;
    }
    
    .technical-skill-icon{
        transform: scale(1.2);
        margin: 0rem 0.75rem 0.25rem 0.5rem;
        color: white;
    }
    
    .dropdown-icon{
        color: var(--yellow);
        transform: scale(1.2);
        margin: 0rem 0.75rem 0.1rem 0.5rem;
    }

    /*Work Experience Section ============================*/

    #work-experience .education-content{
        margin: 3.5rem 0rem 0rem 3rem;
    }

    #work-experience .line{
        width: 0.1rem;
        height: 13.5rem;
        background-color: white;
        transform: translate(0.46rem, 0rem);
    }
    
    /*Education Section ==================================*/
    
    .education{
        margin-top: 0rem;
        max-width: 100%;
    }
    
    .roadmap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2rem;
        margin-left: 35rem;
    }
    
    .checkpoints{
        text-align: left;
        margin-left: -33rem;
        margin-top: -3.8rem;
    }
    
    .ebox{
        max-width: 100%;
    }
    
    .round{
        width: 1rem;
        height: 1rem;
        background-color: var(--yellow);
        border-radius: 100%;
    }
    
    .line{
        width: 0.1rem;
        height: 11.8rem;
        background-color: white;
        transform: translate(0.46rem, 0rem);
    }
    
    .education-content{
        margin: 2rem 0rem 0rem 3rem;
    }
    
    .qualification{
        padding: 3rem 0rem;
        font-size: 1.2em;
    }
    
    .qualification:nth-child(odd){
        text-align: left;
        margin-right: 0rem;
    }
    
    .qualification:nth-child(even){
        text-align: left;
        margin-left: 0rem;
    }
    
    .qualification-title{
        color: var(--light);
        font-size: 1em;
    }
    
    .qualification-school{
        font-weight: var(--light);
        font-size: 1em;
    }
    
    .qualification-school{
        font-weight: var(--light);
    }
    
    .qualification-date-icon{
        transform: scale(0.8);
        margin-top: -0.2rem;
        margin-left: -0.25rem;
    }
    
    /*Projects Section ==================================*/
    
    .projects{
        margin-top: 8rem;
    }
    .project-selector{
        text-align: center;
    }
    
    .project-button{
        color: white;
        border: none;
        margin: 0rem 0.5rem;
        padding: 0.5rem 1rem;
        transition: .2s;
        font-size: 1.2em;
    }
    
    .project-button:hover{
        color: var(--light);
        border: none;
        margin: 0rem 0.5rem;
        padding: 0.5rem 1rem;
        transition: .2s;
        font-size: 1.2em;
    }
    
    .selected{
        color: white;
        background-color: var(--normal);
        margin: 0rem 0.5rem;
        padding: 0.5rem 1rem;
        transition: .2s;  
    }
    
    .selected:hover{
        color: white;
        background-color: var(--normal);
        margin: 0rem 0.5rem;
        padding: 0.5rem 1rem;
        transition: .2s;   
    }
    
    .project-container{
        margin-top: 5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .project{
        margin: 1rem 1rem;
        border: none;
        border-radius: 2rem;
        width: 80%;
        text-align: center;
        background-color: var(--normal);
        
    }
    
    .project-image{
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    
    .project .card-title{
        color: var(--yellow);
        padding: 2rem 2.9rem 0rem 2.8rem;
        font-size: 1.6em;
        text-align: left;
    }
    
    .project .card-text{
        text-align: left;
        color: white;
        padding: 1rem 3rem;
        font-size: small;
    }
    
    .project .card-body{
        border-radius: 1rem;
    }
    
    .project-social-media-links{
        padding: 1rem 2rem 2rem 2rem;
    }
    
    .project-social-media-links .social-media-link{
        color: white;
        transform: scale(1.9);
    }
    
    .project-social-media-links .social-media-link:hover{
        color: var(--yellow);
        filter: none;
        
    }
    
    
    /*Contact Section ==================================*/
    
    .contact{
        padding: 10rem 0rem;
        margin-top: 2rem;
    }
    
    .contact-form{
        border-radius: 0.5rem;
        background-color: var(--normal);
        padding: 2rem;
    }
    
    .contact-form input, textarea{
        border: 0.15rem solid var(--dark);
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        width: 100%;
        background-color: var(--dark);
        color: white;
        margin: 0.75rem 0rem;
        font-size: 1.1rem;
    }
    
    .contact-form textarea{
        width: 100%;
        resize: none;
        
    }
    
    .contact-form input::placeholder, textarea::placeholder{
        color: white;
    }
    
    .contact-button{
        background-color: var(--dark);
        padding: 1rem 2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 0rem;
    }
    
    .contact-button:hover{
        margin-left: 0rem;
        padding: 1rem 2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }    
}